
<div class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-2xl font-bold">Mi Aplicación</div>
        <div class="space-x-4">
            <a href="/" class="text-white">Inicio</a>
            <a href="/productos" class="text-white">Productos</a>
            <a href="/contacto" class="text-white">Contacto</a>
        </div>
        <div>

            <a href="/perfil" class="text-white">Mi Perfil</a>
            <button class="bg-red-500 text-white px-3 py-1 rounded" @onclick="CerrarSesion">Cerrar Sesión</button>

            <a href="/login" class="text-white">Iniciar Sesión</a>
@* 
            @if (usuarioLogeado)
            {
                <a href="/perfil" class="text-white">Mi Perfil</a>
                <button class="bg-red-500 text-white px-3 py-1 rounded" @onclick="CerrarSesion">Cerrar Sesión</button>
            }
            else
            {
                <a href="/login" class="text-white">Iniciar Sesión</a>
            } *@
        </div>
    </div>
</div>

@* @code {
    private bool usuarioLogeado = false;

    // Método para cerrar la sesión
    private void CerrarSesion()
    {
        // Aquí puedes implementar la lógica para cerrar la sesión del usuario
        usuarioLogeado = false;
    }
} *@
