@{
    ViewData["Title"] = "Add Friends";
}

<div class="container mx-auto mt-4 p-4">
    <div class="mx-auto max-w-3xl">
        <!-- Hice el contenedor más ancho y centrado -->
        <h2 class="text-3xl font-semibold text-gray-700 mb-4">Add Friends <i class="fas fa-user-plus mr-2"></i></h2>
        <div class="relative flex items-center">
            <input class="h-10 w-full rounded-full border-none bg-gray-800 text-white text-base px-4 pr-10"
                   id="search" type="search" placeholder="Search user..." />
            <button class="absolute top-1/2 transform -translate-y-1/2 right-2 rounded-full bg-gray-600 p-2 text-gray-400
                hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </button>
        </div>
        <div class="mt-4 mx-auto max-w-xl">
            <div class="bg-gray-800 p-4 rounded-md">
                <ul class="space-y-4">
                    <li class="flex items-center space-x-4">
                        <img src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?auto=format&fit=crop&q=80&w=1888&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="User 1" class="h-16 w-16 rounded-full object-cover" />
                        <div class="flex-1">
                            <h3 class="text-lg font-semibold">User 1</h3>
                            <p class="text-gray-500">user1</p>
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg focus:outline-none">
                            Add Friend
                        </button>
                    </li>

                    <li class="flex items-center space-x-4">
                        <img src="https://plus.unsplash.com/premium_photo-1678197937465-bdbc4ed95815?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="User 2" class="h-16 w-16 rounded-full object-cover" />
                        <div class="flex-1">
                            <h3 class="text-lg font-semibold">User 2</h3>
                            <p class="text-gray-500">user2</p>
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg focus:outline-none">
                            Add Friend
                        </button>
                    </li>

                    <li class="flex items-center space-x-4">
                        <img src="https://plus.unsplash.com/premium_photo-1675130119373-61ada6685d63?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="User 3" class="h-16 w-16 rounded-full object-cover" />
                        <div class="flex-1">
                            <h3 class="text-lg font-semibold">User 3</h3>
                            <p class="text-gray-500">user3</p>
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg focus:outline-none">
                            Add Friend
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
