<!DOCTYPE html>
<html lang="es">
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
=======

>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - FlickerApp</title>
<<<<<<< HEAD
<<<<<<< HEAD
    <link rel="icon" href="https://images.vexels.com/media/users/3/135151/isolated/lists/462e82424305446b9c353b3d9195f374-icono-plano-de-burbuja-de-mensajeria.png" />
=======
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
=======
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
        asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body class="font-poppins bg-gray-900 text-white">
    <header class="bg-transparent">
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 flex justify-between items-center">
<<<<<<< HEAD
<<<<<<< HEAD
            <a class="text-2xl font-bold text-white text-decoration-none">Flicker</a>
=======
            <a class="text-2xl font-bold text-white text-decoration-none">FLICKER</a>
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
=======
            <a class="text-2xl font-bold text-white text-decoration-none">FLICKER</a>
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34

            <nav class="space-x-4 text-decoration-none">
                <a asp-controller="Home" asp-action="Index"
                    class="text-white hover:text-indigo-300 text-decoration-none">
                    <i class="fas fa-home mr-2"></i>
                    Home
                </a>

                <a asp-controller="Friend" asp-action="Index" class="hover:text-indigo-300 text-decoration-none">
                    <i class="fas fa-users mr-2"></i>
                    Friends
                </a>
            </nav>


            <div class="flex items-center gap-4">
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
                @* <div class="relative flex items-center">
                <input class="h-10 w-full rounded-full border-none bg-gray-800 text-white text-base px-4 pr-10"
                id="search" type="search" placeholder="Search website..." />
                <button
                class="absolute top-1/2 transform -translate-y-1/2 right-2 rounded-full bg-gray-600 p-2 text-gray-400
                hover:text-white">
                <span class="sr-only">Search</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
                </button>
                </div> *@


<<<<<<< HEAD
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
=======
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
                <a href="#">
                    <span class="sr-only">Perfil</span>
                    <img src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        class="h-10 w-10 rounded-full object-cover" />
                </a>
                <a href="#" class="relative">
                    <span class="sr-only">Notificaciones</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white hover:text-indigo-300" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v+3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                    </svg>
                    <span
                        class="absolute -top-2 -end-2 -mr-2 bg-red-500 text-white text-xs font-semibold rounded-full w-5 h-5 flex items-center justify-center">5</span>
                </a>

<<<<<<< HEAD
<<<<<<< HEAD
                <a asp-controller="Auth" asp-action="Login"
=======
                @* <a asp-controller="Auth" asp-action="Login"
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
=======
                @* <a asp-controller="Auth" asp-action="Login"
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
                class="text-white hover:text-indigo-300 text-decoration-none px-4 py-2 rounded-lg bg-indigo-600
                hover:bg-indigo-700 transition-colors duration-300 ease-in-out">Login</a>
                <a asp-controller="Auth" asp-action="Singup"
                class="text-indigo-600 hover:text-white text-decoration-none px-4 py-2 rounded-lg border
<<<<<<< HEAD
<<<<<<< HEAD
                border-indigo-600 hover:bg-indigo-600 transition-colors duration-300 ease-in-out">Signup</a>
=======
                border-indigo-600 hover:bg-indigo-600 transition-colors duration-300 ease-in-out">Signup</a> *@
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
=======
                border-indigo-600 hover:bg-indigo-600 transition-colors duration-300 ease-in-out">Signup</a> *@
>>>>>>> 708e491a411608018b724399fd2bb24f38b2de34
            </div>
        </div>
    </header>

    <div class="container mx-auto mt-4 p-4">
        @RenderBody()
    </div>
</body>

</html>
